*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

.page {
    width: 90%;
    margin: auto; /*centrar el div*/
}


.log-nav {
    width: 8%;
    margin-left: 20px;
}

a {
    color: black;  /*quitar estilos predeterminados de las listas*/
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
}

.nav-main {
    font-size: 20px;
    background-color: white;
    display: flex; /*permite organizar elementos */
    justify-content: space-between; /*separar elementos*/
    align-items: center; /*centro del nav*/
    padding: 10px;
}

.nav-main ul { /*la listas se organizan */
    display: flex;
}
.nav-main ul li { /* espacio a los elementos de li*/
    padding: 8px;
}

.nav-main ul.navegacion { /*de nav el ul que contenga la clase navegacion */
    flex: 1;
    margin-left: 40px;
}
.nav-main ul.menu {
    margin-right: 40px;
}
.nav-main ul li.loggin a {
    box-sizing: border-box;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white
}
.search-nav {
    width: 140px;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3), 0 6px 20px 0 rgba(0, 0, 0, .22);
    background-image: url('images/encontrar.png');
    background-position: 4px 10px;  /* cordenadas x, y*/
    background-repeat: no-repeat;
    padding: 10px 10px 10px 33px; /*padding (top, right, bottom, left)*/
    transition: width 0.4s;
}

.search-nav:focus {
    width: 480px;
}

.banner {
    background-image: url('images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.op-banner {
    background-color: rgba(91, 120, 145, 0.7);
}
.banner div h1 {
    font-size: 60px; 
    font-family: 'Candal';
    color: white;
    padding: 70px 70px 0px 70px;
}
.banner div p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 110px 20px 110px;
    color: white;
    text-align: justify;
}

.head-contrib {
    background: rgb(219, 218, 218);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
}
.contribuidores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 45vh; /*altura */
    background: white;
    justify-content: center;
}

.contribuidores .box {
    position: relative;
    width: 240px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: 0.5s;
}
.contribuidores .box:hover {
    height: 300px;
}
.contribuidores .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.contribuidores .box .imgBx img {
    max-width: 100%;
    opacity: 1;
    transition: 0.5s;
}

.contribuidores .box:hover .imgBx img {
    opacity: 1;
}

.contribuidores .box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -1;
} 
.contribuidores .box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(27, 99, 233);
    z-index: -2;
    filter: blur(40px);
} 

.contribuidores .box:before, .box:after {
    background: rgb(27, 99, 233);
}
.contribuidores .box .contenido {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.contribuidores .box:hover .contenido {
    opacity: 1;    
}
.contribuidores .box h2 {
    font-size: 20px;
    font-family: 'Candal';
    color: black;
    font-weight: 500px;
    line-height: 20px;
    letter-spacing: 1px;

}
.contribuidores .box h2 span{
    font-size: 12px;
    color: black;
    font-weight: 200px;
    letter-spacing: 2px;

}